#room-code {
  text-transform: uppercase;
}

main {
  text-align: center;

  display        : flex;
  flex-direction : column;
  justify-content: center;

  height: 100%;
}

h1 {
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
}

main section {
  display       : flex;
  flex-direction: column;
  padding       : 25%;
}

input {
  font-size: 2rem;
  padding  : 5px 0;

  text-align: center;
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  font-size  : 1.25rem;

  margin: 20px 0;

  outline      : none;
  border       : 2px solid rgb(216, 127, 26);
  border-radius: 5px;

  padding: 7px 5px 4px 5px;

  background-color: rgb(247, 167, 48);

  color: white;
}

button:hover {
  background-color: rgb(247, 203, 83);
}

button:active {
  background-color: rgb(216, 127, 26);
}

button.sub {
  margin          : 20px;
  border          : 2px solid rgb(23, 70, 172);
  background-color: rgb(46, 106, 235);
}

button.sub:hover {
  /* border          : 2px solid rgb(23, 70, 172); */
  background-color: rgb(46, 150, 235);
}

button.sub:active {
  background-color: rgb(23, 70, 172);
}

#error {
  overflow   : hidden;
  color      : rgb(255, 43, 43);
  font-weight: bolder;
  max-height : 0;
  transition : max-height 0.5s ease-in-out;
}

#error.active {
  max-height: 1000px;
}