<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title Betwixt Us

    link(rel="stylesheet", href="stylesheet/style.css")
    link(rel="manifest", href="manifest.json")
    link(rel="shortcut icon", href="../images/cheersluka.png", type="image/png")

    script(type="notjs", id="vs", src="../shaders/vertex.glsl")
    script(type="notjs", id="fs", src="../shaders/frag.glsl")
    script(type="notjs", id="fragTex", src="../shaders/fragTex.glsl")

    script(src="/socket.io/socket.io.js")

    //- script(src="javascript/canvas.js", defer)
    script(type="module", src="javascript/game.js", defer)

    link(rel="stylesheet", href="stylesheet/game.css")
  body
    div#joystickBase
    div#joystick
    canvas#canvas(style="")
    canvas#overlayCanvas(style="")