<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Betwixt Us
    link(rel="stylesheet", href="stylesheet/style.css")
    link(rel="stylesheet", href="stylesheet/index.css")
    script(src="javascript/index.js", defer=true)
  body
    main
      h1 Betwixt Us
      section
        button(onClick="createRoom()") Create a Game
        input(id="room-code", placeholder="Room Code", required, minLength=4, maxLength=4, pattern="[a-zA-Z]*")
        button.sub(onClick="joinRoom()") Join!