<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Betwixt Us
    script(src="javascript/index.js", defer=true)
  body
    h1 Betwixt Us
    input(id="room-code", placeholder="Room Code")
    button(onClick="joinRoom()")